PORT = 0 #Puerto del servidor

MONGO_URI = #MONGO_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/db

JWT_SECRET = #Clave
TOKEN_EXPIRES_IN = #Tiempo antes de que expire el token de auth

NODE_ENV = #tipo de entorno (test, development, production, etc)

ADMIN_EMAIL = #Correo del administrador (lo usa "npm run crear-admin")
ADMIN_PASSWORD = #Contraseña del administrador (8+ caracteres, mayúscula, minúscula, número y símbolo)
ADMIN_NOMBRE_ENTIDAD = #Opcional. Por defecto: "Administración A Manos Llenas"
ADMIN_ENCARGADO = #Opcional. Por defecto: "Administrador de la plataforma" (mínimo 10 caracteres)
